* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        to top right,
        rgba(45, 0, 128, 0.733),
        rgba(0, 174, 255, 0.719),
        rgba(128, 126, 0, 0.678)
    );
}
#content {
    /* background-image: linear-gradient(); */
    background-color: #fff;
    padding: 2rem;
    box-shadow: 1px 2px 10px 2px rgba(0, 0, 0, 0.623);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.4rem;
}
.title h1 {
    /* margin: 0px auto; */
    margin-bottom: 1rem;
    text-align: center;
    color: #333;
}
.netBalalce {
    display: flex;
    background-color: #fff;
    gap: 0.4rem;
    margin-bottom: 1rem;
}
.card {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.301);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    text-align: center;
    height: auto;
    border-radius: 0.2rem;
    color: #333;

    transition: 0.5s;
}
.card:hover {
    transform: translateY(-5px);
}
#form {
    width: 100%;
}
#typeNumber {
    width: 100%;
    padding: 0.4rem 0.5rem;
    font-size: large;
    border: 1px solid black;
    border-radius: 0.2rem;
    background-color: #eee;
    color: #333333c2;
    font-style: italic;
    transition: 0.2s;
}
#typeNumber:active {
    background-color: rgba(0, 128, 0, 0.171);
}
.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
#DepositButton {
    background-color: green;
    padding: 0.7rem 2rem;
    color: white;
    width: 47%;
    border-radius: 0.4rem;
    border: 0px solid green;
    transition: 0.7s;
    font-size: large;
    cursor: pointer;
}
#WithdrawButton {
    background-color: red;
    font-size: large;
    cursor: pointer;
    padding: 0.7rem 2rem;
    color: white;
    border-radius: 0.4rem;
    width: 47%;
    transition: 0.7s;
    border: 0px solid red;
}
#DepositButton:hover {
    background-color: rgb(7, 43, 7);
}
#WithdrawButton:hover {
    background-color: rgb(17, 14, 59);
}
@media screen and (max-width: 600px) {
    .netBalalce {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        gap: 0.4rem;
        margin-bottom: 1rem;
    }
}
